<header>
    <div class="logo"> <!-- Espacio para el logo -->
      <img src="https://i.pinimg.com/736x/b3/60/17/b36017a87af0a792800d98ba13b3fa83.jpg">
      <h2>NARAYANA MIND YOGA</h2>
    </div>
    <nav>
      <ul>
        <li><a href="/">PÁGINA PRINCIPAL</a></li>
        <li><a href="/teachings">ENSEÑANZAS</a></li>
        <li><a href="/tools">HERRAMIENTAS</a></li>
        <div class="dropdown">
          <li class="dropbtn">CURSOS</li>
          <div class="dropdown-content">
              <a href="#">Enseñanzas del Yoga</a>
              <a href="#">Meditación y Mindfulness</a>
              <a href="#">Mind Ful YOGA</a>
          </div>
        </div>
        <li><a href="/training">FORMACIÓN MFY</a></li>
        <li><a href="/practices">PRACTICAS</a></li>
        <li><a href="/insights">INSIGHTS</a></li>
        <li><a href="/about">SOBRE MI</a></li>
        <li><a href="#">TESTIMONIOS</a></li>
        <div class="dropdown">
          <li class="dropbtn">MAS</li>
          <div class="dropdown-content">
              <a href="/mentoring">Mentorías y Consultas</a>
              <a href="#">Novedades</a>
              <li><a href="/comments">Comentarios destacados</a></li>
          </div>
        </div>
      </ul>
    </nav>
  </header>
<hr class="hr-menu">