<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <div class="INabout">
      <div class="intro">
        <img class="IMG-mar" src="https://i.pinimg.com/736x/fc/6e/d6/fc6ed6765c4cb0220c5031ca86287629.jpg">
        <p>
          Hola, mi nombre es Marián Rivas y llevo más de 20 años estudiando, practicando
          y ayudando a cientos de personas con el Yoga, la meditación, el mindfulness y
          otras herramientas que he ido aprendiendo en mi propio camino de
          conocimiento y evolución personal.
          Voy a contaros un poco de mi historia, de mi recorrido de vida desde que el Yoga
          llegó a mi vida y la razón por la que, sin buscarlo, acabé siendo profesora de
          Yoga.
          Nunca me lo habría imaginado, ni siquiera conocía el Yoga hasta que llegó a mi
          vida de forma natural, cuando más lo necesitaba…
          Tenía unos 21 años cuando tuve, lo que me dijeron que fue, una crisis de pánico,
          que luego diagnosticaron como “agorafobia”.
        </p>
      </div>
      <br>
      <div>
        <p>
          Nunca me lo habría imaginado, ni siquiera conocía el Yoga hasta que llegó a mi
          vida de forma natural, cuando más lo necesitaba…
          Tenía unos 21 años cuando tuve, lo que me dijeron que fue, una crisis de pánico,
          que luego diagnosticaron como “agorafobia”.
          Hoy en día, casi todo el mundo ha tenido o conoce a alguien que haya tenido o
          tenga ansiedad o una crisis de pánico, pero en aquel entonces, no era tan
          habitual. Nadie en mi entorno que yo conociera, sabía lo que era ni tampoco
          podían explicarme lo que me estaba pasando. Así que fue bastante traumático
          para mí, al principio. Hasta que encontré el Yoga y personas maravillosas que me
          ayudaron mucho.
        </p>
        <div class="img22">
          <img src="https://i.pinimg.com/736x/48/9f/c9/489fc904bcc6883bb58cc16b90348f26.jpg">
          <figcaption>Con Dulce Pérez Oliag y Carmen Heredia en el Parque San Vicente de Lliria. 1991</figcaption>
        </div>
        <br>
      </div>
      <p>
        Ahora, puedo ver que, en realidad, aquella crisis en realidad fue un gran regalo
        que me hizo la Vida. De no ser por ella, nunca habría encontrado ni el Yoga, ni mi
        camino en la vida.
        Aquella crisis de pánico fue en realidad, un Gran despertar para mi.
        Llegó justo cuando había terminado una fase de mi vida y estaba empezando
        otra…
        Me acababa de independizar y había roto recientemente una relación
        sentimental que me costó bastante superar…
        Pero, gracias a la Vida y a todo eso que me sucedió, encontré el Yoga: mi
        verdadero gran amor ;-)
      </p>
      <p>
        Después de esa crisis de pánico que, aparentemente, vino de “la nada”, entré en
        un profunda crisis existencial… No tenía ni idea de hacia donde dirigir mi vida, me
        sentía totalmente perdida y muy muy angustiada…
        Eso es lo que tienen las crisis existenciales ;-)
        Como te he comentado antes, yo aún no conocía el Yoga, ni siquiera nunca
        antes había escuchado hablar de él, pero mi estado de ansiedad constante que
        siguió a la crisis de pánico, me empujo a buscar algo que me aliviara y que no
        fuera únicamente la medicación.
        Y así fue que encontré el Yoga. :-)
      </p>
      <p>
        ¿Y cómo fue y por qué acabé siendo profesora de Yoga? Sencilla y naturalmente, como ya he mencionado antes, la Vida me llevó a ello…
      </p>
      <div class="dulce">
        <div>
          <img src="https://i.pinimg.com/736x/19/77/7e/19777ed55567c1c5accd63dcf2cbba27.jpg">
          <figcaption>Con mi primera profesora de Yoga <br> Dulce Pérez Oliag. 2019</figcaption>
          <br>
        </div>
        <p>
          Recuerdo claramente como si fuera ayer, estando en una clase de Yoga, con mi primera profesora, Dulce Pérez Oliag. Justo al final de la sesión, en la parte de la relajación, de pronto comencé a experimentar una sensación de paz, de bienestar y dicha… que nunca antes había sentido… Una calma profundamente serena, apacible y envolvente… Difícil de describir con las palabras…
          Ahora sólo sé que fue esa experiencia que duró unos instantes, lo que despertó en mí el deseo de saber más sobre Yoga. ¿Qué tenía esa práctica que me había llevado a sentir esa paz y dicha tan inmensa? Así que me informé y comencé a estudiar e investigar sobre el Yoga.
        </p>
      </div>
      <p>
        No obstante, en un principio, yo no tenía la idea de llegar a ser profesora de Yoga, para nada. Lo único que quería era saber más sobre el Yoga y cómo había podido llevarnos a experimentar ese bienestar que no había encontrado en ningún otro lugar o cosa. Pero, una cosa llevó a la otra… y sin darme cuenta, terminé por hacer la formación de Yoga completa. :-)
        Aún así, la idea de dedicarme, de manera profesional, al Yoga, aún no había pasado por mi cabeza. Hasta que un día, no recuerdo por qué, mi profesora me pidió que dirigiera yo la clase… Y fue de nuevo una experiencia muy impactante para mí…
        Me sorprendió porque me resultó fácil.. Me sentí como si ya lo hubiera hecho muchas veces… Y me encantó.
        Pero lo que más me impactó y, ya sí, despertó en mí el deseo de ser profesora de Yoga, fue de nuevo un pequeño instante… Cuando los alumnos/as se pusieron de pie, respiraron… se relajaron... y cerraron los ojos para conectar con su interior…
      </p>
      <p>
        No puedo describir con palabras lo que sentí y sobre todo lo que vi en ellos… Aún hoy me emociono y se me eriza la piel al recordarlo…
        No sé cómo ni por qué, pero en ese momento, creo que conecté con la Pureza y la belleza más pura del ser humano… Aún se me humedecen los ojos de emoción al recordarlo…
        Seres humanos conectando con el momento presente, con su esencia, con la pureza y el silencio de su interior… No sé si lo habéis visto alguna vez pero para mí fue algo increíblemente bello...
        Así que ese día sí que por fin “decidí” o más bien, nació el deseo en mí… de ser profesora de Yoga y ayudar a las personas a conectar con lo más puro, bello y poderoso… que hay en cada uno de nosotros. Y hasta hoy :-)
        Podría contarte muchas cosas sobre el Yoga y sobre las muchas experiencias que vinieron después, como profesora y como practicante... pero prefiero que tú misma, tú mismo, las descubras y las experimentes por ti mismo, por ti misma :-)
      </p>
      <div class="casa-rural">
        <img src="https://i.pinimg.com/736x/bc/a0/3d/bca03d73ee4da5f00ceff4390fc14ead.jpg">
        <figcaption>Retiro de Formación con Maria Puig, mi Maestra Raiz. <br> Casa Rural La Artiga. Olba-Castellón</figcaption>
      </div>
      <br>
      <p>
        Mi formación, formal, como profesora de Yoga, duró unos 12 años, cuatro años de Formación como tal y el resto de Post-formación. Fueron unos años maravillosos en los que aprendí muchísimo: sobre el Yoga, sus enseñanzas más puras y esenciales, y sobre sus diferentes prácticas o disciplinas.
        Hasta que comencé a sentir que el tiempo estar con mi Maestra-raíz debía terminar y tuve que continuar mi propio camino...
      </p>
      <div class="meditacion">
        <img src="https://i.pinimg.com/736x/e6/21/60/e62160363be3fad89e461709678b7139.jpg">
        <figcaption>Taller de Meditación y Enseñanzas con Maria Puig, en la Escuela de Adultos de Llíria.</figcaption>
      </div>
      <br>
      <p>        
        Así llegué al Budismo, con Lama Yeshe Chödröm, con la que practiqué la meditación y diferentes ceremonias budistas durante casi cuatro años.
        Durante esos cuatro años estuve haciendo retiros de meditación Shiné, un fin de semana al mes y durante tres semanas seguidas, de retiro intensivo, en verano. Luego seguí aprendiendo y caminando con otras maestras. 
      </p>
      <div class="lama">
        <img id="lama" src="https://i.pinimg.com/736x/dc/92/43/dc92435f7d8bbcb4f684a284aa6107fe.jpg">
        <figcaption><a href="https://www.instagram.com/aryataracenter?igsh=MWRxdjcybDE3MGx2eg==">Lama Yeshe Chödröm </a><br> <a href="https://aryatara.es/">Centro Aria Tara Lleida</a></figcaption>
        <img src="https://i.pinimg.com/736x/92/bf/b2/92bfb20f4435db1a7f26b6f14cab08ea.jpg">
        <figcaption>Meditación y Enseñanzas Budistas con Lama Yeshe Chödröm, en la Escuela de Adultos de Llíria.</figcaption>
      </div>
      <br>
      <p>
        Estuve en la India y en Jerusalem… Experiencia que recomiendo a todo el mundo, por el profundo efecto que tienen esos lugares y sus gentes en nuestra mente y, en nuestro corazón…
      </p>
      <div class="roser">
        <img id="roser" src="https://i.pinimg.com/736x/0c/dd/45/0cdd456eefee55d4b4f02780007924a5.jpg">
        <figcaption>Roser Vilches La Torre. Vidente y Maestra Espiritual <br> De ella recibí enseñanzas de Jesús y María Magdalena y viajé a Jerusalem</figcaption>
      </div>
      <br>
      <p>
        Y más adelante continué mi aprendizaje estudiando y practicando otras técnicas y herramientas como la Kinesiología y el Biomagnetismo y el Shiatsu.
      </p>
      <div class="aroma">
        <img id="aroma" src="https://i.pinimg.com/736x/06/b4/2b/06b42b6ce4eb5476d5be528c1953073c.jpg">
        <img src="https://i.pinimg.com/736x/00/c2/b0/00c2b055f7e2a1620b955a25e28b8de8.jpg">
      </div>
      <figcaption>Belén Hernández. Formadora y Terapeuta de Naturopatia, Kinesiología y el Biomagnetismo, además de terapia con esencias florales. <a href="https://escuelaromaterapia.com/">Escuela de Aromaterapia</a>, YouTube:  <a href="https://youtu.be/e69GrKgBSwE?si=s2xo1ZKElOWfs5SP">La Hora de Maat</a></figcaption>
      <br>
      <p>
        La Numerología Evolutiva con a <a href="https://tunumerologiaevolutiva.com/">Pilar Fernandez</a>, y finalmente, más recientemente, el Quantum Mind Method con <a href="https://youtube.com/@escuelaqmm?si=kMtfV7KslgtPrtHL">Rossana Biglia</a>. Y aquí seguimos, caminando y aprendiendo…
      </p>
      <p>
        Para finalizar mi extensa presentación... me gustaría decir que me siento infinitamente agradecida y muy afortunada, de que mi primera formación fuera, precisamente, el Yoga clásico y tradicional de la India, porque, todo lo que he aprendido después, a complementa y me ha ayudado en mi camino, como persona y como profesora, pero considero que el Yoga es la base fundamental e imprescindible de cualquier persona que quiera iniciar su camino y avanzar de forma segura y firme en el camino del auto conocimiento, el despertar espiritual y la activación de su potencial como Ser humano, debería conocer.
      </p>
      <p>
        El Yoga nos da todos los conocimientos y herramientas que necesitamos para hacer ese camino de auto conocimiento y transformación que nos libera del yugo de una mente “loca”, confundida y agitada, para llevarnos a la experiencia y la manifestación de nuestra Esencia: Poder, Sabiduría, Amor, Felicidad, Abundancia y Plenitud.
        Decirte también que aunque el camino del Yoga es largo y sinuoso… y por mi parte, yo misma, sigo caminando y aprendiendo, cada día, estaré encantada y sería un placer y un honor para mí acompañarte aunque sea en un trocito de tu camino... Namasté.
      </p>
      <p>
        Creo que mi experiencia forma parte de lo que yo quiero transmitir y creo que puede ayudarte a ti a saber, sentir, si realmente deseas también iniciar este camino :-)
      </p>
      
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>