<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <p>
      Hola, mi nombre es Marián Rivas y llevo más de 20 años estudiando, practicando
y ayudando a cientos de personas con el Yoga, la meditación, el mindfulness y
otras herramientas que he ido aprendiendo en mi propio camino de
conocimiento y evolución personal.
Voy a contaros un poco de mi historia, de mi recorrido de vida desde que el Yoga
llegó a mi vida y la razón por la que, sin buscarlo, acabé siendo profesora de
Yoga.
Nunca me lo habría imaginado, ni siquiera conocía el Yoga hasta que llegó a mi
vida de forma natural, cuando más lo necesitaba…
Tenía unos 21 años cuando tuve, lo que me dijeron que fue, una crisis de pánico,
que luego diagnosticaron como “agorafobia”.
Hoy en día, casi todo el mundo ha tenido o conoce a alguien que haya tenido o
tenga ansiedad o una crisis de pánico, pero en aquel entonces, no era tan
habitual. Nadie en mi entorno que yo conociera, sabía lo que era ni tampoco
podían explicarme lo que me estaba pasando. Así que fue bastante traumático
para mí, al principio. Hasta que encontré el Yoga y personas maravillosas que me
ayudaron mucho.
Ahora, puedo ver que, en realidad, aquella crisis en realidad fue un gran regalo
que me hizo la Vida. De no ser por ella, nunca habría encontrado ni el Yoga, ni mi
camino en la vida.
Aquella crisis de pánico fue en realidad, un Gran despertar para mi.
Llegó justo cuando había terminado una fase de mi vida y estaba empezando
otra…
Me acababa de independizar y había roto recientemente una relación
sentimental que me costó bastante superar…
Pero, gracias a la Vida y a todo eso que me sucedió, encontré el Yoga: mi
verdadero gran amor ;-)
Después de esa crisis de pánico que, aparentemente, vino de “la nada”, entré en
un profunda crisis existencial… No tenía ni idea de hacia donde dirigir mi vida, me
sentía totalmente perdida y muy muy angustiada…
Eso es lo que tienen las crisis existenciales ;-)
Como te he comentado antes, yo aún no conocía el Yoga, ni siquiera nunca
antes había escuchado hablar de él, pero mi estado de ansiedad constante que
siguió a la crisis de pánico, me empujo a buscar algo que me aliviara y que no
fuera únicamente la medicación.
Y así fue que encontré el Yoga. :-)
¿Y como fue y por qué acabé siendo profesora de Yoga?
Sencilla y naturalmente, como ya he mencionado antes, la Vida me llevo a ello…
Recuerdo claramente como si fuera ayer, estando en una clase de Yoga, con mi
primera profesora, Dulce Pérez Oliag. Justo al final de la sesión, en la parte de la
relajación, de pronto comencé a experimentar una sensación de paz, de
bienestar y dicha… que nunca antes había sentido… Una calma profundamente
serena, apacible y envolvente… Dificil de describir con las palabras…
Ahora sólo sé que fue esa experiencia que duró unos instantes, lo que despertó en
mi el deseo de saber más sobre Yoga. ¿Qué tenía esa práctica que me había
llevado a sentir esa paz y dicha tan inmensa?
Así que me informé y comencé a estudiar e investigar sobre el Yoga.
No obstante, en un principio, yo no tenía la idea de llegar a ser profesora de
Yoga, para nada. Lo único que quería era saber más sobre el Yoga y como había
podido llevarnos a experimentar ese bienestar que no había encontrado en
ninguna otro lugar o cosa.
Pero, una cosa llevó a la otra… y sin darme terminé por hacer la formación de
Yoga completa. :-)
Aún así, la idea de dedicarme, de manera profesional, al Yoga, aún no había
pasado por mi cabeza. Hasta que un día, no recuerdo porqué, mi profesora me
pidió que dirigiera yo la clase…
Y fue de nuevo una experiencia muy impactante para mi…
Me sorprendió porque me resultó fácil.. Me sentí como si ya lo hubiera hecho
muchas veces… Y me encantó.
Pero lo que más me impactó y, ya si, despertó en mi el deseo de ser profesora de
Yoga, fue de nuevo un pequeño instante… Cuando los alumnos/as se pusieron
de pié, respiraron… se relajaron... y cerraron los ojos para conectar con su
interior…
De nuevo, discúlpenme, no puedo describir con palabras lo que sentí y
sobretodo lo que vi en ellos… Aún hoy me emociono y se me eriza la piel al
recordarlo…
No sé cómo ni porqué, pero en ese momento, creo que conecté con la Pureza y
la belleza más pura del ser humano… Aún se me humedecen los ojos de emoción
al recordarlo…
Seres humanos conectando con el momento presente, con su esencia, con la
pureza y el silencia de su Interior… No se si lo habéis visto alguna ver pero para mi
fue algo Increíblemente Bello...
Así que ese día si que por fin “decidí” o más bien, nació el deseo en mí…de ser
profesora de Yoga y ayudar a las personas a conectar con lo más Puro, Bello y
Poderoso… que hay en cada uno de nosotros.
Y hasta hoy :-)
Podría contarte muchas cosas sobre el Yoga y sobre las muchas experiencias que
vinieron después, como profesora y como practicante... pero prefiero que tu
misma, tu mismo,las descubras y las experimentes por ti mismo, por ti misma :-)
***
Mi formación, formal, como profesora de Yoga, duró unos 12 años, cuatro años
de Formación como tal y el resto de Post-formación. Fueron unos años
maravillosos en los que aprendí muchísimo: sobre el Yoga, sus enseñanzas más
puras y esenciales, y sobre sus diferentes practicas o disciplinas.
Hasta que comencé a sentir que el tiempo estar con mi Maestra-raíz debía
terminar y tuve que continuar mi propio camino...
Así llegué al Budismo, con Lama Yeshe Chödröm, con la que practiqué la
meditación y diferentes ceremonias budistas durante casi cuatro años.
Durante esos cuatro años estuve haciendo retiros de meditación Shiné, un fin de
semana al mes y durante tres semanas seguidas, de retiro intensivo, en verano.
Luego seguí aprendiendo y caminando con otras maestras. Estuve en la India y
en Jerusalén… Experiencia que recomiendo a todo el mundo, por el profundo
efecto que tienen esos lugares y sus gentes en nuestra mente y, en nuestro
corazón…
Y más adelante continué mi aprendizaje estudiando y practicando otras técnicas
y herramientas como la Kinesiología y el Biomagnetismo, el Shiatsu, la
Numerología Evolutiva, y finalmente, más recientemente, el Quantum Mind.
Y aquí seguimos, caminando y aprendiendo…
Para finalizar mi extensa presentación... me gustaría decir que me siento
infinitamente agradecida y muy afortunada, de que mi primera formación fuera,
precisamente, el Yoga clásico y tradicional de la India, porque, todo lo que he
aprendido después, a complementa y me ha ayuda en mi camino, como
persona y como profesora, pero considero que el Yoga es la base fundamental e
imprescindible de cualquier persona que quiera iniciar su camino y avanzar de
forma segura y firme en el camino del auto conocimiento, el despertar espiritual y
la activación de su potencial como Ser humano, debería conocer.
El Yoga nos da todos los conocimientos y herramientas que necesitamos para
hacer ese camino de auto conocimiento y transformación que nos libera del
yugo de una mente “loca”, confundida y agitada, para llevarnos a la experiencia
y la manifestación de nuestra Esencia: Poder, Sabiduría, Amor, Felicidad,
Abundancia y Plenitud.
Decirte también que aunque el camino del Yoga es largo y sinuoso… y por mi
parte, yo misma, sigo caminando y aprendiendo, cada día, estaré encantada y
sería un placer y un honor para mi acompañarte aunque sea en un trocito de tu
camino... Namasté.
Creo que mi experiencia forma parte de lo que yo quiero transmitir y creo que
puede ayudarte a ti a saber, sentir, si realmente deseas también iniciar este
camino :-)
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>