<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <p>
        Este espacio es muy importante para mi, ya que vuestros comentarios me
        ayudan a mejorar la calidad de mi servicio, propósito y deseo de acompañaros
        en vuestro caminar por este mundo, de la manera más amorosa y consciente
        posible, dentro de mis propias posibilidades y “limitaciones”… (recuerda que yo
        también soy un ser humano en proceso de aprendizaje y re-conexión con
        nuestra esencia).
        Con la ayuda del Cielo, no dudes de que haré todo cuanto esté en mis manos,
        para acompañarte y ayudarte de la mejor manera posible. Gracias por tu
        confianza y disposición.
        Como ya he dicho, es un honor y un regalo para mi poder acompañarte el
        tiempo que tu consideres o necesites. Gracias.
        Namasté!!
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>