<!-- confirmation.ejs -->
<!DOCTYPE html>
<html lang="es-ES">
<%- include('./partials/head.ejs') %>
<body>
    <div class="INconfirmation">
        <h1>¡Gracias por suscribirte!</h1>
        <p>Hemos recibido tu solicitud de suscripción. ¡Te damos la bienvenida a nuestra comunidad!</p>
        <a href="/" class="btn">Volver a la página principal</a>
    </div>
</body>
</html>
