<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <div class="welcome">
      <img src="https://i.pinimg.com/736x/3f/b0/ad/3fb0ad2575c11312d0c7ae0254acd00e.jpg">
      <h3>🫂¡Bienvenid@ a Narayana Mind Yoga!🫂</h3>
      <h4>“Sigue tu camino gozando de armonía con tu ser.”</h4>
      <p>
          Bienvenido a <strong>NARAYANA Mind Yoga</strong>, donde 
          combinamos el Yoga, la Meditación y mindfulness para descubrir tu 
          esencia y activar tu potencial infinito. 
      </p>
      <p>
          Únete a nuestra comunidad, comparte 
          experiencias y crece juntos en este viaje hacia
          la calma  mental y la conciencia plena. 
  
          ¡Namaste!
      </p>
  </div>
  <div class="container1">
    <h3>✨Que significa✨</h3>
    <br>
    <div class="Gleaming-Mind-text">
      <p>Gleaming Mind Yoga Method está basado en las Enseñanzas teóricas y practicas,
        del Yoga CLÁSICO y TRADICIONAL de la India, pero en mi método, he
        complementado estas enseñanzas y practicas, con Técnicas o “herramientas”,
        más “actuales”, como por ejemplo: la Kinesiología Emocional, para trabajar el
        desbloqueo emocional y energético que afecta al cuerpo y a la mente, la
        Numerología Evolutiva Espiritual, como herramienta de autoconocimiento
        “rápido” y efectivo, que nos muestra nuestro dones y aprendizajes pendientes,
        entre otras cosas...
        Y el Quantum Mind, que enfatiza en la necesidad de desarrollar la capacidad de
        autocontrolar y autocorregir nuestra mente, con herramientas, técnicas y
        ejercicios sencillos, pero muy efectivos, sobretodo, si se practican con constancia,
        inteligencia y determinación.</p>
    </div>

     <br>

    <h4>Beneficios del Yoga:</h4>
    <div class="rectangles">
        <div class="rectangle">
          <img src="https://media.licdn.com/dms/image/C5612AQGZyywAlQottQ/article-cover_image-shrink_720_1280/0/1520223853775?e=1714003200&v=beta&t=WYz1wnGsR3WlKsC342NN56iMqvxLhOyIh2MnSEI1om8">
          <p>Vida corporal fuerte y sana</p>
        </div>
        <div class="rectangle">
          <img src="https://i.blogs.es/0afba8/kike-vega-f2qh3yjz6jk-unsplash/1366_2000.webp">
          <p>Incrementar flexibilidad</p>
        </div>
        <div class="rectangle">
          <img src="https://i.pinimg.com/originals/61/a5/49/61a549fef36a3c6f207ee98e8ceb8039.png">
          <p>Estilo de vida saludable</p>
        </div>
        <div class="rectangle">
          <img src="https://img.freepik.com/fotos-premium/doctor-neurologia-cardiologia-imagen-esteticamente-mejorada-corazon-humano-ia-generativa_28914-4429.jpg">
          <p>Aumenta el flujo sanguíneo</p>
        </div>
        <div class="rectangle">
          <p>Baja la presión arterial</p>
        </div>
        <div class="rectangle">
          <p>Regula glándula suprarrenal</p>
        </div>
        <div class="rectangle">
          <p>Mejora la concentración</p>
        </div>
        <div class="rectangle">
          <p>Alivia el estrés</p>
        </div>
        <div class="rectangle">
          <p>Mejora el equilibrio</p>
        </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
