<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>ESCUELA NARAYANA MIND YOGA</h1>
      <div class="logo"> <!-- Espacio para el logo -->
        <img src="../public/images/logo-escuela.png">
      </div>
      <nav>
        <ul>
          <li><a href="#">ENSEÑANZAS</a></li>
          <li><a href="#">HERRAMIENTAS</a></li>
          <div class="dropdown">
            <li class="dropbtn">CURSOS</li>
            <div class="dropdown-content">
                <a href="#">Enseñanzas del Yoga</a>
                <a href="#">Meditación y Mindfulness</a>
                <a href="#">Mind Ful YOGA</a>
            </div>
          </div>
          <li><a href="#">PRACTICAS</a></li>
          <li><a href="#">SOBRE MI</a></li>
          <li><a href="#">COMENTARIOS</a></li>
          <div class="dropdown">
            <li class="dropbtn">MAS</li>
            <div class="dropdown-content">
                <a href="#">Mentorías y Consultas</a>
                <a href="#">Capacitación en Mind Ful Yoga</a>
                <a href="#">Insights</a>
            </div>
          </div>
        </ul>
      </nav>
    </header>
    <hr>
    <div class="container">
        <!-- Aquí agregar más contenido según las necesidades -->
    </div>
  </body>
</html>
