<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="logo"> <!-- Espacio para el logo -->
        <img src="../public/images/logo-escuela.png">
      </div>
      <h1>ESCUELA NARAYANA MIND YOGA</h1>
      <nav>
        <ul>
          <li><a href="#">ENSEÑANZAS</a></li>
          <li><a href="#">HERRAMIENTAS</a></li>
          <div class="dropdown">
            <li class="dropbtn">CURSOS</li>
            <div class="dropdown-content">
                <a href="#">Enseñanzas del Yoga</a>
                <a href="#">Meditación y Mindfulness</a>
                <a href="#">Mind Ful YOGA</a>
            </div>
          </div>
          <li><a href="#">PRACTICAS</a></li>
          <li><a href="#">SOBRE MI</a></li>
          <li><a href="#">COMENTARIOS</a></li>
          <div class="dropdown">
            <li class="dropbtn">MAS</li>
            <div class="dropdown-content">
                <a href="#">Mentorías y Consultas</a>
                <a href="#">Capacitación en Mind Ful Yoga</a>
                <a href="#">Insights</a>
            </div>
          </div>
        </ul>
      </nav>
    </header>
    <hr class="hr-menu">
    <div class="welcome">
      <h3>🫂¡Bienvenid@ a Narayana Mind Yoga!🫂</h3>
      <h4>“Sigue tu camino gozando de armonía con tu ser.”</h4>
      <p>
          Bienvenido a Narayana MIND Yoga🧘🏻‍♀️, donde 
          combinamos yoga.

          Meditación y mindfulness para explorar tu 
          esencia y potencial infinito. 

          Únete a nuestra comunidad, comparte 
          experiencias y crece juntos en este viaje hacia
          la calma  mental y la conciencia plena. 

          ¡Namaste! 🙏
      </p>
    </div>
    <div class="container1">
      <h3>✨Qué Hacemos✨</h3>
      <br>
      <div class="Gleaming-Mind-text">
        <img src="https://images.pexels.com/photos/355863/pexels-photo-355863.jpeg" style="width: 500px; float: left; margin-right: 20px;">
        <p>Gleaming Mind Yoga Method está basado en las Enseñanzas teóricas y practicas,
          del Yoga CLÁSICO y TRADICIONAL de la India, pero en mi método, he
          complementado estas enseñanzas y practicas, con Técnicas o “herramientas”,
          más “actuales”, como por ejemplo: la Kinesiología Emocional, para trabajar el
          desbloqueo emocional y energético que afecta al cuerpo y a la mente, la
          Numerología Evolutiva Espiritual, como herramienta de autoconocimiento
          “rápido” y efectivo, que nos muestra nuestro dones y aprendizajes pendientes,
          entre otras cosas...
          Y el Quantum Mind, que enfatiza en la necesidad de desarrollar la capacidad de
          autocontrolar y autocorregir nuestra mente, con herramientas, técnicas y
          ejercicios sencillos, pero muy efectivos, sobretodo, si se practican con constancia,
          inteligencia y determinación.</p>
      </div>

       <br>

      <h4>Beneficios del Yoga:</h4>
      <div class="rectangles">
        <div class="rectangle">
          <p>Vida corporal fuerte y sana</p>
        </div>
        <div class="rectangle">
          <p>Incrementar flexibilidad</p>
        </div>
        <div class="rectangle">
          <p>Estilo de vida saludable</p>
        </div>
        <div class="rectangle">
          <p>Aumenta el flujo sanguíneo</p>
        </div>
        <div class="rectangle">
          <p>Baja la presión arterial</p>
        </div>
        <div class="rectangle">
          <p>Regula glándula suprarrenal</p>
        </div>
        <div class="rectangle">
          <p>Mejora la concentración</p>
        </div>
        <div class="rectangle">
          <p>Alivia el estrés</p>
        </div>
        <div class="rectangle">
          <p>Mejora el equilibrio</p>
        </div>
      </div>
    </div>
  </body>
</html>
