<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <p>
      He creado este espacio con la intención de compartir contigo mis momentos de
      inspiración, de conexión y comprensión profunda… Con el deseo de que sirvan
      a ti para tu propia inspiración y conexión…
    </p>
    <h3>CREAR TU PROPIA “COSMOVISIÓN” de Lorena Barrera</h3>
    <p>“Debes convertirte en un filósofo/a para tener una vida digna de ser vivida.

        Primero crea tu propia cosmovisión, un entendimiento del juego en el que te encuentras.
        
        Después incluye un manual de ética en el que bases tus acciones diarias.
        
        Con estas tres cosas lograrás embarcarte en la búsqueda de quién eres. Dejarás de ser  sólo una persona mundana y podrás llamarte un filósofo…
        
        Aquel que camina con saber.”
        Lorena Barrera
        “La Bruja Filosófica”
        (*) https://youtu.be/GFDtAsuWiU0?si=Y8VjuviuPV-SRVQp
    </p>
    <p>
        Aquí te dejo el enlace a su video en YouTube donde profundiza en este tema.

        Me encanta haberlo encontrado justo esta misma mañana y poder incluirlo ahora como introducción a mi apartado de  “Insight y Reflexiones”, las casualidad no existe ;-)
        
        Me encanta lo que Lorena expresa en estas pocas palabras, sencillas pero muy profundas, sabias e importantes…
        
        Y me encanta poder utilizarlas ahora como introducción a cuál es mi intención y mi deseo al sumirme en este proyecto-aventura-“Viaje del Héroe” que voy a hacer contigo (porque sin ti no tendría sentido toooodo este trabajo)…  
        
        Lorena expresa en esta sabias palabras lo que yo estoy haciendo y lo que me gustaría ayudarte o acompañarte a ti a hacer tu mismo/a…
        
        Encontrar mi propia cosmovisión y ayudarte a ti a que encuentres la tuya. Lo considero super importante y necesario para, tal y como dice Lorena, poder tener una vida feliz, plena y próspera.
        
        Realmente para mi (y quizá también para ti, si estás aquí…) ser humana y vivir en el planeta Tierra, es realmente dificil…
        Quizá ya me has escuchado decir que desde bien jovencita, le pedía al Universo un libro de instrucciones, que muy amablemente acabaron enviándome ;-)(“Pedid y se os dará...”). Para mi este libro son los Yoga Sutras de Patanjali, y es por eso que siento el deseo de compartirlo, para que pueda ayudar, inspirar y guiar a otros seres humanos que, como yo, se puedan sentir totalmente perdidos en este “mundo de locos”… 
        
        Pero es cierto, como muy bien explica Lorena en el video en el que profundiza sobre este tema (*) un sólo libro no es suficiente y, aunque hasta el día de hoy y después de más de veinte años… Los Yoga Sutras han sido y son mi guía, la verdad es que tuve que estudiar y practicar otras filosofías, teorías, practicas, etc que me ayudaron a entender mejor los Yoga Sutras, pero, sobretodo, ahora, después de escuchar a Lorena esta mañana… me doy cuenta de que, por mucho que los Yoga Sutras sean la mejor Guía que he encontrado, no hubiera podido entender las enseñanzas del Yoga sin el “complemento” de esas otras filosofías, teorías, etc. Y, además, hoy Lorena me ha ayudado a tomar conciencia de que necesito “crear” mi propia cosmovisión.
        
        Se que los Yoga Sutras van a ser la base fundamental de mi cosmovisión y todo lo demás que he estudiado, practicado y experimentado… lo van a complementar… Pero… ya hace mucho tiempo que sentía, fuertemente, dentro de mi, que debía encontrar mi propia manera de ver y entender el mundo… En realidad, es lo que he estado buscando siempre…
        
        Cada uno de nosotros es un “pedacito” del Universo infinito que entre todos somos, y creo, como una vez le escuché decir a Matías Di Stéfano: cada uno de nosotros es una pieza (un “fractal”, en palabras de Matías) del puzzle de la Vedad que “esconde” el Universo…
        
        Y, hasta que, cada uno de nosotros, se encuentre, se reconozca, realice y exprese su Verdad, su Luz, el Universo continuará en el continuo “caos” para nosotros…
        
        Así que, creo, que esta es nuestra misión como Seres humanos. Es mi misión, lo que he venido a descubrir, realizar y expresar: mi propia “cosmovisión”.
        
        Y también es la tuya…
        
        Por lo tanto, tengo que decirte que, por mucho que para mí, los Yoga Sutras de Patanjali sea mi libro “base” de Instrucciones, sagrado, precioso y de incalculable valor, sólo es uno de los libros o filosofías que tendrás que estudiar (para mi el fundamental, la base para entender de manera justa y correcta el resto de filosofías, teorías, etc.), para entender desde tu vida, tu razón de ser, tu propia misión, el mundo y el Universo Infinito… desde propio “prisma” y “crear” o re-conocer… TU PROPIA cosmovisión.
        
        Aunque… las Enseñanzas dicen que hay dos realidades o Verdades; la Universal, que es la misma para todos… y la individual, la verdad de cada uno de los seres que existen en todo el Universo… 
        
        Creo que encontrara TU VERDAD, es necesario para poder encontrar, reconocer y entender realmente LA VERDAD.  
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>