<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <p>
      El Yoga nos ofrece diversas herramientas que podemos encontrar resumidas en
      el segundo capítulo del libro de los Yoga Sutras de Pantanjali. En el sutra II.29
      Las mentorías y/o consultas particulares, están enfocadas tanto a responder a
      posibles dudas o necesidad de orientación en vuestro estudio y practica del Yoga
      como para poder acompañaros en vuestro propio proceso de transformación
      personal y espiritual.
      Es un gran placer y un honor para mi poder acompañaros vuestros procesos y
      seguir aprendiendo con cada uno de vosotros/as.
      Si estas interesada/o o necesitas una mentoría 1&1 o una consulta personal, no
      dudes en ponerte en contacto conmigo a través de esta web o aquí te dejo mi
      email y mi whatsapp, será un placer atenderte. Gracias.
    </p>
    <p>
        Email: tucaminodevida11@gmail.com
        Whatsapp: +34 622 47 81 79
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>