<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <p>
      En este espacio encontrarás pequeñas practicas y recomendaciones para que
      podáis ir avanzando en vuestra practica y propia experiencia de los efectos y
      beneficios de las diferentes disciplinas del Yoga.
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>