<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <div class="">
        <p>
            En este espacio encontrarás mi interpretación sobre las Enseñanzas del Yoga,
            basada en mi propio estudio, reflexiones y experiencias.
            Considero imprescindible el estudio y la reflexión consciente de las Enseñanzas
            del Yoga. Siempre digo que son un Libro de Instrucciones la Vida, para Ser
            Humano (y no morir en el intento... ;-) .
        </p>
        <p>
                Me he encontrado con muchos alumnos (y también algunos profesores,
                lamentablemente) que no tenían en cuenta o ni siquiera conocían las enseñanzas
                del Yoga, base fundamental para poder hacer una buena practica y buen uso de
                las diferentes disciplinas-herramientas, que el Yoga nos ofrece para avanzar
                hacia nuestro bienestar físico y psico-emocional, con el fin de alcanzar la
                verdadera meta del Yoga: el conocimiento, experiencia, manifestación y
                Realización de nuestra verdadera naturaleza esencial aquí en la Tierra.
                Sin este conocimiento y experiencia, no será posible que tengamos una vida
                feliz, armoniosa, próspera y abundante en todos los aspectos de nuestra vida.
                Es por ello que dedico el primer apartado y de manera especial a las Enseñanzas
                del Yoga. Con todo mi cariño y mis mejores deseos para ti, te recomiendo que
                las leas y estudies, poco a poco… Estoy segura de que te serán de gran ayuda e
                tu caminar por este mundo…
        </p>
        <p>
                En tus manos y ante ti, tengo la gran dicha, de compartir estas enseñanzas
                milenarias, invaluables, que los Grandes Maestros, con su gran sabiduría y
                compasión infinitas, nos dejaron como legado con su esfuerzo y dedicación.
                Aprovecho también para agradecer y honrar, una vez más, a mis Maestros/as,
                Guías, Almas Afines y Seres de Luz que me han inspirado, acompañado y
                GUIADO durante tantos años (y vidas) para poder ahora llegar hasta a ti, hoy.
                Infinitas GRACIAS de todo Corazon, también a ti por tu interés y atención.
                Espero que las enseñanzas te inspiren y puedan guiarte en tu camino, tanto
                como a mi, o más. Feliz caminar...
        </p>
        <p>
            Namasté.
            OM Srih Gurubhyo Namaha
            ATHA YOGA ANUSHASANAM
            “Aquí y ahora... comienza el Yoga”
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>