<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <p>
      El Yoga nos ofrece diversas herramientas que podemos encontrar resumidas en
      el segundo capítulo del libro de los Yoga Sutras de Pantanjali. En el sutra II.29
      se recogen de manera ordenada y esquemática en el llamado Astanga Yoga; las
      Ocho Disciplinas del Yoga.
      A partir de este sutra, en el resto del libro se va exponiendo, muy sabiamente y
      claramente, la manera adecuada de practicar cada una de estas herramientas o
      disciplinas, y también los beneficios que podemos obtener de cada una ellas.
    </p>
    <p>
      <h3>El ASTANGA YOGA</h3>
      El Astanga yoga como ya hemos mencionado, recoge las ocho disciplinas del
      Yoga que corresponden a cada uno de los aspectos (o “cuerpos” físico y sutiles)
      del ser humano:
      1. YAMA. Actitudes a desarrollar en nuestra relación con los demás y con el
      mundo que nos rodea.
      2. NIYAMA. Actitud y recomendaciones para tener una relación adecuada con
      nosotros mismos.
      3. ASANA. El cuidado del cuerpo físico (“Templo del Alma” o Ser esencial) para
      desarrollar y mantener un cuerpo saludable, fuerte y vigoroso.
      4. PRANAYAMA. La armonización de nuestro cuerpo energético a través de la
      practica de la respiración consciente.
      5. PRATYAHARA. El control sobre nuestros sentidos. La practica de la
      interiorización de nuestra atención.
      6. DHARANA. La concentración mental o capacidad de dirigir nuestra atención
      hacia un “objeto” elegido por nosotros mismos.
      7. DHYANA. La meditación o capacidad de “interactuar” con aquello que
      deseamos comprender. La practica del soltar, entregar y recibir…
      8. SAMADHI. La practica de la Integración del Ser y la experiencia de ser UNO
      con todo cuanto existe.
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>