<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <div class="INtools">
      <p class="important">
        El <strong>Yoga</strong> nos ofrece diversas herramientas que podemos encontrar resumidas en
        el segundo capítulo del libro de los <strong>Yoga Sutras de Patanjali</strong>. En el <strong>sutra II.29</strong>
        se recogen de manera ordenada y esquemática en el llamado <strong>Astanga Yoga</strong>; las
        <strong>Ocho Disciplinas del Yoga</strong>.
        A partir de este sutra, en el resto del libro se va exponiendo, muy sabiamente y
        claramente, la manera adecuada de practicar cada una de estas herramientas o
        disciplinas, y también los beneficios que podemos obtener de cada una ellas.
      </p>
    
      <img src="https://i0.wp.com/yoganidra.com.mx/wp-content/uploads/2020/06/ashtanga-yoga-8-ramas-yoga-ciudad-mexico-cdmx-yoga-nidra_2.jpg?w=629&ssl=1">
      <h3>El <strong>ASTANGA YOGA</strong></h3>
      <p>
          El Astanga yoga como ya hemos mencionado, recoge las ocho disciplinas del
          Yoga que corresponden a cada uno de los aspectos (o “cuerpos” físico y sutiles)
          del ser humano:
      </p>
      <ol>
          <li><strong>YAMA.</strong> Actitudes a desarrollar en nuestra relación con los demás y con el
          mundo que nos rodea.</li>
          <br>
          <li><strong>NIYAMA.</strong> Actitud y recomendaciones para tener una relación adecuada con
          nosotros mismos.</li>
          <br>
          <li><strong>ASANA.</strong> El cuidado del cuerpo físico (“Templo del Alma” o Ser esencial) para
          desarrollar y mantener un cuerpo saludable, fuerte y vigoroso.</li>
          <br>
          <li><strong>PRANAYAMA.</strong> La armonización de nuestro cuerpo energético a través de la
          practica de la respiración consciente.</li>
          <br>
          <li><strong>PRATYAHARA.</strong> El control sobre nuestros sentidos. La practica de la
          interiorización de nuestra atención.</li>
          <br>
          <li><strong>DHARANA.</strong> La concentración mental o capacidad de dirigir nuestra atención
          hacia un “objeto” elegido por nosotros mismos.</li>
          <br>
          <li><strong>DHYANA.</strong> La meditación o capacidad de “interactuar” con aquello que
          deseamos comprender. La practica del soltar, entregar y recibir…</li>
          <br>
          <li><strong>SAMADHI.</strong> La practica de la Integración del Ser y la experiencia de ser UNO
          con todo cuanto existe.</li>
      </ol>      
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>