<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <div class="INtraining">
      <p>
        Mind Ful Yoga, es un método que yo misma he diseñado, que está enfocado,
        principalmente, tal y como su nombre indica, en el trabajo con la mente.
        Su objetivo principal es desarrollar <strong>calma</strong> y <strong>claridad mental</strong>.
        Para ello trabajamos, de manera consciente, cada una de las ocho disciplinas del
        Yoga (Astanga Yoga) teniendo en cuenta y trabajando:
    </p>
    <p>
      - El trabajo sobre nuestra relación con los demás (<strong>amor</strong>, <strong>empatía</strong>, <strong>no juicio</strong>,
      etc)
      <br>
      - Cuidando y desarrollado una buena relación con nosotros mismos (<strong>auto
      estima</strong>, <strong>auto valoración</strong>, <strong>auto cuidados</strong>, etc.)
      <br>
      - Cuidado y valoración de nuestro cuerpo físico; diferentes maneras de cuidar y
      mantener su salud y buen estado
      <br>
      - Aprender a apreciar y experimentar el gran poder de la <strong>respiración</strong> sobre
      nuestra energía, nuestra mente y nuestro cuerpo físico
      <br>
      - Desarrollar el control sobre nuestros sentidos para poder enfocar nuestra
      atención de manera adecuada y continuada
      <br>
      - Aprender a concentrar nuestra atención para optimizar el buen uso de
      nuestra energía, atención, inspiración, etc...
      <br>
      - Desarrollar nuestra capacidad de permanecer en un estado de atención
      <strong>serena</strong> y <strong>consciencia plena</strong> en cada momento, para poder afrontar cualquier
      situación que se nos presente, con la mejor actitud y la mayor sabiduría
      <br>
      - Experimentar el estado de <strong>integración</strong> en nosotros mismos y la <strong>conexión</strong>
      con la Fuente de <strong>amor</strong>, <strong>energía</strong>, <strong>poder de creación</strong> y <strong>sabiduría</strong>.
    </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
