<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <p>
        Mind Ful Yoga, es un método que yo misma he diseñado, que está enfocado,
        principalmente, tal y como su nombre indica, en el trabajo con la mente.
        Su objetivo principal es desarrollar calma y claridad mental.
        Para ello trabajamos, de manera consciente, cada una de las ocho disciplinas del
        Yoga (Astanga Yoga) teniendo en cuenta y trabajando:
        - el trabajo sobre nuestra relación con los demás (amor, empatía, no juicio,
        etc)
        - cuidando y desarrollado una buena relación con nosotros mismos (auto
        estima, auto valoración, auto cuidados, etc.)
        - cuidado y valoración de nuestro cuerpo físico; diferentes maneras de cuidar y
        mantener su salud y buen estado
        - aprender a apreciar y experimentar el gran poder de la respiración sobre
        nuestra energía, nuestra mente y nuestro cuerpo físico
        - desarrollar el control sobre nuestros sentidos para poder enfocar nuestra
        atención de manera adecuada y continuada
        - aprender a concentrar nuestra atención para optimizar el buen uso de
        nuestra energía, atención, inspiración, etc...
        - desarrollar nuestra capacidad de permanecer en un estado de atención
        serena y consciencia plena en cada momento, para poder afrontar cualquier
        situación que se nos presente, con la mejor actitud y la mayor sabiduría
        - experimentar el estado de integración en nosotros mismos y la conexión
        con la Fuente de amor, energía, poder de creación y sabiduría.
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>